# Binaries for programs and plugins
bin
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Ignore vendor and run dep ensure
vendor

config.test.yml
coverage.html
cover.out

# Dumps
dump.rdb

# Misc
.DS_Store